nav li a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: 350ms;
}
nav li:hover a::after,
.navbar-nav .nav-link.active nav li a::after {
  width: 80%;
}
.hero ul li a {
  transition: color 350ms;
}
.hero ul li a:hover {
  color: #2268dc !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
